{% extends "utils/base_utils.html" %} 
{% load i18n %}

<head>
    {% block extrahead %}{{ block.super }} {% load static %}
    <script src="{% static 'utils/js/parser.js' %}"></script>
    {% url 'admin:jsi18n' as jsi18nurl %} {% endblock %} 
    {% block extrastyle %}{{ block.super }} 
    <link rel="stylesheet" href="{% static 'utils/css/generator.css' %}">
    {% endblock %}
</head>

<body>
    {% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="../">{% trans "Home" %}</a> › {% trans 'Parser' %}
    </div>
    {% endif %}{% endblock %}
    {% block content %} 
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-outline-primary btn-lg generator">Regenerate Brands</button>
    {% else %}
    <p>Please log in.</p>
    {% endif %}
    <div class="generator-result" id="result">
        {% comment %} Table content {% endcomment %}
    </div>
    {% endblock %}
</body>
